{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid text-center py-3">
  <div class="row">
    <h2>Registration / Sign Up</h2>
    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>
    <hr>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 largefont">
      <div class="bold">
        Once registered you will be able to 
        <ol> 
          <li>View outstanding Tasks on our Shared Task Board</li> 
          <li>View completed Tasks</li> 
          <li>Add a new Task to the board</li> 
          <li>Change text and/or status of Tasks you added</li>
          <li>Delete Task you previously added</li> 
        </ol>
      </div>
      <div class="bold">
        The following will be added in a future version
        <ol> 
          <li>Request another member be assigned a Task </li>
          <li>Change your password, mobile number, email address</li> 
          <li>View contact details for other members</li> 
          <li>Receive a unique Gate Code for entrance to facility</li> 
          <li>View which members are currently onsite in the facility</li> 
          <li>Leave commments/likes on any Task</li> 
        </ol>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <h5> Please complete this form to register as member</h5>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Register" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>    

{% endblock %}
