{% extends "base.html" %}
{% block head_title %}Add Task{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!-- create_task.html
Renders empty TaskForm to create a new Task 
Defensive build in with user.is_authenticated check
    Submit/Cancel -> views.create_task 
else 
    Unauthorised Message
 -->

<div class="container-fluid pt-3">
    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-8 offset-md-2 text-center topbox">
                <h2>Adding a new Task</h2>
                <h5>
                    Once a new Task is created it will be put in a DRAFT
                    status until it is approved, When a Task is approved 
                    it is changed to LIVE status and viewable by members
                </h5>
            </div>
            <div class="col-md-8 offset-md-2 text-center pt-3">
                <h2>Add Task</h2>
                <hr>
            </div>
            <form method="POST" class="col-md-8 offset-md-2">
                <div>
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button class="btn btn-primary" type="submit">Add Task</button>
                <a href="/todo" class="btn btn-secondary">Cancel</a>
            </form>
        {% else %}
            <a  href="/" class="btn btn-outline-warning">Unauthorised Action : Go Home</a>
        {% endif %}
    </div>
</div>

{%endblock%}