{% extends "base.html" %}
{% block head_title %}Update Task{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!-- edit_task.html
    Receives context from views.edit_task
    context = {
        'form': form,
        'created_by': created_by,
    }

    Defensive check if same user
        Render Task instance in form
        Submit or Cancel
    else 
        Unauthorised Action Message
 -->

<div class="container-fluid pt-3">
    <div class="row">
        {% if created_by == user %} 
            <div class="col-md-8 offset-md-2">
                <h2>Update a Task </h2>
            </div>
            <form method="POST" class="col-md-8 offset-md-2">
                <div>
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button class="btn btn-primary" type="submit">Update Task</button>
                <a href="/todo" class="btn btn-secondary">Cancel</a>
            </form>
        {% else %}
            <div class="col-md-8 offset-md-2">
                <a  href="/" class="btn btn-outline-warning">Unauthorised Action : Go Home</a>
            </div>
        {% endif %}
    </div>
</div>

{%endblock%}