{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Update Task{% endblock %}

{% block content %}
<div class="container-fluid pt-3">
    <div class="row">
        {% if created_by == user %} 
            <div class="col-md-8 offset-md-2">
                <h2>Update a Task </h2>
            </div>
            <form method="POST" class="col-md-8 offset-md-2">
                <div>
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button type="submit">Update Task</button>
                <a id="cancel" href="/todo" class="btn btn-link">Cancel</button></a>
            </form>
        {% else %}
            <div class="col-md-8 offset-md-2">
                <a  href="/" class="btn btn-outline-warning">Unauthorised Action : Go Home</button></a>
            </div>
        {% endif %}
    </div>
</div>

{%endblock%}