{% extends "base.html" %}
{% block head_title %}Member Home{% endblock %}

{% block content %}
<!-- home_guest.html
    Page is rendered when user is logged in
    Welcome User message
    Receives queryset from views.GuestCompletedList ordered by latest
    List has all completed Tasks
    Iterate thru list and render first 10 records (slice)
    or pleading message ot use if empty
 -->
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center topbox">
            <h2>Welcome {{ user.profile.firstname|capfirst }}</h2>
            <h5>
                This is the Shared Task Board & We have <strong>{{ tasks|length }}</strong> outstanding<br>
            </h5>
            <a href="/todo" class="btn btn-primary">{{ user.profile.firstname|capfirst }}'s Todo Board</a>
            <a href="/create" class="btn btn-primary">Add New Task</a>
            <a href="/full" class="btn btn-primary">List All Published Tasks</a>
        </div>
    </div>
</div>    
<div class="table-responsive">
    <table class="table table-striped table-condensed"> 
        <thead>
            <tr>
                <th>Date</th>
                <th>Created By</th>
                <th>Task Description</th>
                <th>Category</th>  
            </tr>
        </thead>
        {% for task in tasks %}
            <tr>
                <td> {{ task.created_on|date:"d M" }} </td>
                <td> {{ task.created_by.profile.firstname|capfirst}} 
                     {{task.created_by.profile.surname|capfirst}}
                </td>
                <td> {{ task.description|capfirst }} </td>
                <td> {{ task.get_category_display }} </td>
            </tr>
        {% empty %}
            <tr>
                <td> {% now "d M" %} </td>
                <td> - </td>
                <td>Do you need to
                    <a href="/create" class="btn btn-primary">Add a new Task</a>
                </td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}