{% extends "base.html" %}
{% block head_title %}Guest Home{% endblock %}
{% block content %}

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center topbox">
            <h2>Welcome to our volunteer group</h2>
            <h4> Below you can view tasks we have recently completed, 
                It will give you an idea of the type of voluntary 
                work involved with our group, if you want to help please  
                <a href="{% url 'account_signup' %}">Register or Sign Up</a> as a member, 
                Alternatively contact our Committee via SMS on 086 123 4567. 
            </h4>
            <h2>Thank you </h2>
            </p>
        </div>
    </div> 
    <!-- Could be improved so that if Queryset is empty Table is not generated -->
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>  
                </tr>
            </thead>  
            {% for task in task_list|slice:":5" %}
                <tr>
                    <td> {{ task.created_on|date:"d M" }} </td>
                    <td> {{ task.get_category_display }} </td>
                    <td> {{ task.description|capfirst }} </td>
                </tr>
            {% empty %}
                <tr>
                    <td> {% now "d M" %} </td>
                    <td> NOTHING DONE </td>
                    <td>Oh dear none of our tasks are completed...
                        Looks like we could use your help then, Go on 
                        <a href="{% url 'account_signup' %}">Sign Up</a>
                    </td>
                </tr>    
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}