{% extends "base.html" %}
{% block head_title %}Guest Home{% endblock %}
{% block content %}

<div class="container-fluid">
    <h2>Welcome to our volunteer group</h2>
    <!-- Change this so that if Queryset is empty Table is not generated -->
    <h6>This board shows a few tasks we have completed, if you
        want to help then please  
        <a href="{% url 'account_signup' %}">Sign Up</a> as a member or
        contact our committee via SMS on 086 123 4567, Thank you
    </h6> 
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>  
                </tr>
            </thead>  
            {% for task in task_list|slice:":5" %}
                <tr>
                    <td> {{ task.created_on|date:"d M" }} </td>
                    <td> {{ task.get_category_display }} </td>
                    <td> {{ task }} </td>
                </tr>
            {% empty %}
                <tr>
                    <td> {% now "d M" %} </td>
                    <td> NOTHING DONE </td>
                    <td>Oh dear none of our tasks are completed...
                        Looks like we could use your help then, Go on 
                        <a href="{% url 'account_signup' %}">Sign Up</a>
                    </td>
                </tr>    
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}