{% extends "base.html" %}

{% block head_title %}CTB Community Task Board{% endblock %}

{% block content %}
<h1>Shared Community Task Board</h1>
<br>
<h5>
    {{ user.profile.firstname|capfirst}},  
    You can <button>Update</button> and <button>Remove</button> 
    your Tasks from the table below <br> Use 
    <a href="/create"><button>Add</button></a> to create a new Task
    {% if  tasks|length > 1 %} 
        <br> Did you know we have {{ tasks|length }} outstanding task(s) today. 
    {%endif%}
</h5>
<div class="table-responsive">
<table class="table table-striped table-condensed"> 
    <thead>
        <tr>
            <th>Date</th>
            <th>Action or Owner</th>
            <th>Category</th>
            <th>Description</th>  
        </tr>
    </thead>
    <tbody>  
        {% for task in tasks %}
            <tr>
                <td> {{ task.created_on|date:"d M" }} </td>
                <td>{% if task.created_by == user %}
                        <a href="/edit/{{ task.id }}"><button>Update</button></a>
                        <a href="/delete/{{ task.id }}"><button>Remove</button></a>
                    {% else %}
                        {{task.created_by.profile.firstname}}
                        {{task.created_by.profile.surname}}
                    {% endif %}
                </td>
                <td> {{ task.get_category_display }} </td>
                <td> {{ task }} </td>
            </tr>
        {% empty %}
            <td> {% now "d M" %} </td>
            <td> NO TASKS</td>
            <td> NO TASKS </td>
            <td> {{ user.profile.firstname|capfirst}}, Can you think of one to
                <a href="/create"><button>Add</button></a>
            </td>   
        {% endfor %}
    </tbody>
</table>
</div>

{%endblock%}