{% extends "base.html" %}

{% block head_title %}Todo{% endblock %}

{% block content %}
<h2>Todo Board</h2>
<br>
<h5>
    {{ user.profile.firstname|capfirst }},  
    You can <button>Update</button> or <button>Remove</button> 
    your Tasks from the board below <br> Use 
    <a href="/create"><button>Add</button></a> to add a new Task
    {% if  tasks|length > 2 %} 
        <br> Did you know we have {{ tasks|length }} outstanding tasks today. 
    {%endif%}
</h5>
<div class="table-responsive">
<table class="table table-striped table-condensed"> 
    <thead>
        <tr>
            <th>Date</th>
            <th>Action or OwnedBy</th>
            <th>Category</th>
            <th>Task Description</th>  
        </tr>
    </thead>
    <tbody>  
        {% for task in tasks %}
            <tr>
                <td> {{ task.created_on|date:"d M" }} </td>
                <td>{% if task.created_by == user %}
                        <a href="/edit/{{ task.id }}"><button>Update</button></a>
                        <button type="button" class="btn btn-danger"  data-mytaskid="{{ task.id }}" data-bs-target="#removeModal" data-bs-toggle="modal" >
                            Remove Task
                        </button>

                    {% else %}
                        {{ task.created_by.profile.firstname|capfirst }}
                        {{ task.created_by.profile.surname|capfirst }}
                    {% endif %}
                </td>
                <td> {{ task.get_category_display }} </td>
                <td> {{ task|capfirst }} </td>
            </tr>
        {% empty %}
            <td> {% now "d M" %} </td>
            <td> NO TASKS</td>
            <td> NO TASKS </td>
            <td> {{ user.profile.firstname|capfirst }}, Do you need to
                <a href="/create"><button>Add</button></a> 
            </td>   
        {% endfor %}
    </tbody>
</table>

<!-- Modal for Delete Task-->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirm Remove Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
             <p>Are you sure you want to remove this {{ task.id }} from the board? This action cannot be undone</p>
        </div>
        <div class="modal-footer">
            <a id="cancel" href="/todo" class="btn btn-link">Cancel</a>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Confirm Delete</a>
        </div>
    </div>
</div>
</div>
{%endblock%}
{% block extrabody %}
{% load static %}
<script src="{% static 'js/deletetask.js' %}"></script>
{% endblock %}