body {
  background-color:   lightblue;
}

.bg-white * {
  background-color: antiquewhite;
} 
  
.largefont > * {
    font-size: 1.2rem;
  }

h4 {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: #005f85;
}

/* div_id_description = crispy forms applied id for the Task Description <div> */
#div_id_description {

}
