{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block content %}

<h1>About CTB</h1>

<h4>Ireland’s community, voluntary and charity sector makes a very substantial contribution to society in general, There are almost 10,000 registered charities and a further 20,000+ organisations in Ireland’s wider nonprofit sector. This app is a simple tool that can be used by groups in this sector to aid in management and administration of tasks assigned to members of the group.</h4>

<h2>Thank you</h2>

{%endblock%}