{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block content %}
<div class="container-fluid text-center py-3">
    <div class="row">
        <h2>About CTB</h2>
        <br>
        <h4>Irelands community, voluntary and charity sector makes a 
            substantial contribution to society with almost 10,000 
            registered charities in the country. This app is a simple 
            tool that can be used by community groups such as Tidy Towns
            or Residents Associations to aid in management and 
            administration of tasks assigned to voluntary members
            of the group.
        </h4>
        <br>
        <h2>Thank you</h2>
    </div>
</div>
{%endblock%}