{% load static %}

<!DOCTYPE html>
<html class="h-100">

<html>
  <head>
    <title> CTB {% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  
<body>
  <nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'about' %}">About</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link" href="{% url 'soon' %}">Gate App</a>
        </li>
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link" href="{% url 'soon' %}">Contact Details</a>
        </li>
      </ul>
    </div>
  </nav>

<h1>Shared Community Task Board</h1>

<!-- Adapted from CI Blog project    -->
      <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

  {% block content %}
  {% endblock %}
 
  {% block extrabody %}
  {% endblock %}

<!-- Adapted from CI Blog project : message alert goes after 3 seconds      -->

  <script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 3000);
  </script>  
  </body>
</html>
