{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Our Shared Todo List</h1>
        <!-- </div> -->
        <h6>Here are the most recent jobs on our list, if you want to help 
            sign up as a member or contact our administrator via SMS 
            on 086 123 4567, Thank you
        </h6> 
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>  
                </tr>
            </thead>  
            {% for task in task_list %}
                <tr>
                    <td> {{ task.created_on|date:"d M" }} </td>
                    <td> {{ task.get_category_display }} </td>
                    <td> {{ task }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}